body {

  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
}
#red div {
  border-top-color: #f00;
}
#orange div {
  border-bottom-color: #ffa500;
}
#yellow div {
  border-left-color: #ff0;
}
#green div {
  border-right-color: #00bc3f;
}


